.login-menu{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  div {
    height: 1.2em;
    line-height: 1em;
    padding-left: 10px;
    margin: auto 0;
    color: white;
    overflow: hidden;
    word-break: break-all;
    cursor: default;
  }
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  div:nth-child(n+2) {   
    min-width: 65px; 
    margin-left: 10px;    
    border-left: 1px solid white;
  }
}