.modal-container {
  z-index: 100;
  position: relative;
}

.modal {
  margin: auto;
  position: relative;
  padding: 30px;
  background-color: white;

  .btn {
    padding: 5px;
    background-color: rgb(86, 86, 233);
    text-align: center;
    color: white;
  }
  .btn:hover {
    background-color: rgb(110, 110, 199);
  }
  .modal__close {
    position: absolute;
    top: 0;
    right: 3px;
  }
}

.shader {
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.form {
  display: flex;
  flex-flow: column;
  input {
    height: 30px;
    margin: 10px 0;
  }
}
