.country-info {
  .title,
  .subtitle {
    margin: 0 !important;
  }

  .subtitle {
    color: #8c8c8c;
  }

  img {
    width: 300px;
    margin: 0 1rem 1rem 0;
    float: left;
  }

  .descr {
    color: #595959;
    font-size: 16px;
  }
}
