.exchange-rates-widget {
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  &-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &-header {
    color: #fefefe;
  }
  &-value {
    color: #389e0d;
  }
  &-name {
    color: #cf1322;
  }
}
